.container {
  width: 100%;
  height: auto;
  background-color: #141518;
}

.topHeader {
  width: 100%;
  height: 30px;
  background-color: #141518;
  display: grid;
  grid-template-columns: auto 1280px auto;
  grid-template-areas: ". topContent .";
  text-align: right;
}

.topContent {
  grid-area: topContent;
  margin: auto 0;
}

.topContent a {
  padding: 0 12px;
  color: #747474;
  font-size: 12px;
  font-weight: 400;
}

.midHeader {
  width: 100%;
  height: 60px;
  background-color: #1d1e22;
  display: grid;
  grid-template-columns: auto 1280px auto;
  grid-template-areas: ". midContent .";
}

.botHeader {
  width: 100%;
  height: 40px;
  background-color: #00a2ff;
  display: grid;
  grid-template-columns: auto 1280px auto;
  grid-template-areas: ". botContent .";
}

.botContent {
  grid-area: botContent;
  margin: auto;
}

.botContent a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.midContent {
  grid-area: midContent;
  max-height: 60px;
}

.logoContainer {
  width: 129px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
}

.diagonalSep {
  display: inline-block;
  width: 30px;
  height: 60px;
  margin-left: 10px;
}
.diagonalSep2 {
  display: inline-block;
  width: 30px;
  height: 60px;
  margin-right: 10px;
}

.svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.svg line {
  stroke: #3e3e41;
  stroke-width: 2;
}

.navContainer {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  color: #e2e2e2;
  font-weight: 500;
}

.navBtn {
  display: inline-block;
  vertical-align: top;
  padding-top: 21px;
  padding-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.NavSearch {
  display: inline-block;
  vertical-align: top;
  padding-top: 14px;
  margin-left: 40px;
  width: 40vw;
  max-width: 700px;
}

.NavSearch input {
  box-sizing: border-box;
  font-size: 13px;
  vertical-align: top;
}

.searchWrapper {
  text-align: center;
  height: 32px;
  font-size: 0;
}

.search {
  padding: 0 30px;
  font-size: 18px;
  width: 100%;
  height: 32px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 92%;
}

.search:focus {
  border-color: #00a2ff;
  border-width: 2px;
  border-style: solid;
}

.searchSubmit {
  cursor: pointer;
  border: none;
  border-radius: 0 20px 20px 0;
  display: inline-block;
  height: 32px;
  width: 8%;
  background: url("../assets/images/search-icon.png") 0 0 no-repeat;
  background-size: 18px 18px;
  background-color: white;
  background-position: center;
}

@media only screen and (max-width: 1279px) {
  .topHeader {
    grid-template-columns: auto 100% auto;
  }
}
@media only screen and (max-width: 959px) {
  .topHeader {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .botHeader {
    grid-template-columns: auto 100% auto;
  }
}

@media only screen and (max-width: 1279px) {
  .midHeader {
    grid-template-columns: auto 1280px auto;
    padding: 0 24px;
  }
}

@media only screen and (max-width: 959px) {
  .midHeader {
    grid-template-columns: auto 100% auto;
    text-align: center;
    padding: 0;
  }
  .diagonalSep {
    display: none;
  }
}
